.container{
    margin: 20px;
    border-radius: 10px ;
    border: 5px solid #35696F;
    background-color: #35696F;

}
.title{
    margin: 0;
    text-align: center;
    color: #35696F;
}
.Title{
    text-align: center;
    color: white;
}
.text::placeholder::placeholder{
    color: white;
}

.filebase{
    position: relative;
    color: transparent;
    border-radius: 10px;
    width: fit-content;
    border: 15px solid transparent;
    padding: 40px;
    background-image: url(../../images/images-removebg-preview.png);
    background-size:90px;
    background-repeat: no-repeat;
}
.filebase input[type="file" i]::-webkit-file-upload-button{
    background-color: transparent;
    border: none;
   position: absolute;
   top: 0;
   left: 0;
   padding: 40px 15px;

}
